<!DOCTYPE html>
<html>
<head>
	<title>Clinby</title>
     <!--bootstrap-->
	 <link rel="stylesheet" href="../assets/lib/bootstrap.min.css" />
     <!-- font-awesome icon -->
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
     <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css" integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg" crossorigin="anonymous">
     <!--main.css-->
     <link rel="stylesheet" type="text/css" href="../assets/css/home.css" />
     <!--google font-->
     <link href="https://fonts.googleapis.com/css?family=Damion" rel="stylesheet">
     <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700" rel="stylesheet">
     <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700|Raleway" rel="stylesheet">
     <link href="https://fonts.googleapis.com/css?family=Nunito:300" rel="stylesheet">
     <link href="https://fonts.googleapis.com/css?family=Open+Sans:300" rel="stylesheet">
     <link href="https://fonts.googleapis.com/css?family=Concert+One" rel="stylesheet">
     </head>
<body>

<!--navbar-->	
 <header> 
  <nav class="navbar navbar-inverse no-margin  navbar-fixed-top" role="navigation">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>    
    </div>
    <a class="navbar-brand" href="#">Clinby</a>
    <div class="navbar-collapse collapse">
     <ul class="nav navbar-nav navbar-left">
        <li><a href="#">Discover <i class="fas fa-search"></i></a></li>
     </ul>
     <ul class="nav navbar-nav navbar-right">
           
     </ul>
    </div>
  </nav>
 </header>


<!--landing slide-->
 <section id="home" class="position-relative cover-background tz-builder-bg-image border-none bg-img-one customHome bbc">
             <% if(error && error.length>0){%> 
             <div class="container">
                  <div class="alert alert-danger" role="alert">
                      <%=error%>
                  </div> 
             </div>
    <% }%>
     <% if(success && success.length>0){%>
             <div class="container">
                  <div class="alert alert-success" role="alert">
                      <%=success%>
                  </div> 
             </div>
    <% }%>         
            <div class="container one-sixth-screen position-relative">
                <div class="row">
                    <div class="slider-typography text-center xs-position-absolute">
                        <div class="slider-text-middle-main">
                            <div class="slider-text-middle">
                                <div class="col-md-12 col-sm-12 col-xs-12 center-col text-center pad-230px">
                                	<!--<h1>Clubbo</h1>
                                	<p>make clubbing easier</p>-->
                                	<h1 id="cont">Make Appointments easy</h1>
                                	<div class="btn btn-info" style="font-size: 41px;"><a href="/allDoctors">view doctors</a></div>
                                </div>
                            </div>                                
                        </div>
                    </div>
                </div>
            </div>
  </section>
  
<div>
    <section id="about" class="ht320 row jumbotron text-center">
                         <h1>Want the best Physiotherapist near you?</h1>
                           <p class="col-sm-12 col-md-12 col-xs-12">
	                            We are a chain of Physiotheraphy clinics bringing the best
                              in town Physiotherapists near you.
	                       </p>
    </section>

   <section id="images" class="text-center">
   	   	    <div class="row">
			    <div class="col-sm-3 col-md-3 col-xs-12 center-col ux1"> 
			    </div>
			    <div class="col-sm-3 col-md-3 col-xs-12 center-col">
			        <div class="row">
			           <h1 class="grt text-center">Best Physiotherapists</h1>	
			        </div>	
			    	<div class="row">
			    	   <p class="grt1 text-center">we are committed to provide a service by which you can easily book appointment to all the great Physiotherapists out there in your city.</p>	
			    	</div>
			    	<div class="row">
			    	   <div class="btn btn-danger">View</div>
			    	</div>   	
			    </div>
			    <div class="col-sm-3 col-md-3 col-xs-12 center-col ux3">
			    </div>
			    <div class="col-sm-3 col-md-3 col-xs-12 center-col">
			       <div class="row">
			    	    <h1 class="rating text-center">Constant monitoring</h1>
			       </div>
			       <div class="row">	    
			    	       <p class="rating1 text-center">
			    	               we personally send our team of Physiotheraphy clinics to check the facilities available.Our clinics are well equipped with latest and most effective equipements.
			    	       </p>
                   </div>
                   <div class="row">
			    	 <div class="btn btn-danger">Affordable Pricing</div>
                   </div>
			    </div>
            </div>     
   </section>
 
 </div>   

    <section id="home" class="position-relative cover-background border-none ht320 htimg">
                                <div class="col-md-12 col-sm-12 col-xs-12 center-col text-center pad-100px">
                                	<h1 class="city">Best doctors at your service</h1>
                                	<hr class="explr">
                                </div>
    </section>

  <section>
  	    <div class="row">
  	    	<h1 class="col-sm-12 col-md-12 col-xs-12 text-center think">What people think about us?</h1>
  	    </div>
   	   	    <div class="row">
			    <div class="col-md-4 col-sm-12 col-xs-12 center-col">
			       <div class="row">
				       	  <div class="col-md-4 col-sm-5 col-xs-3 ht200"></div>
				       	  <div class="col-md-4 col-sm-2 col-xs-6 circle1 ht200"></div>
				       	  <div class="col-md-4 col-sm-5 col-xs-3 ht200"></div>
			       </div>
			       <div class="row">
			       	 <h1 class="reviewHead">Akanshya</h1>
			       </div>
			       <div class="row">
			       	 <p class="reviewBody">
			       	    Yes clinby is really a best option for we people to search a good doctor nearby. The clinics are well maintained and the treatment is really upto the mark. Its really a fast way for booking an appointment and it really saves time. Treatment is best.
			       	 </p>
			       </div>
			       <div class="row iconz">
			       	 <i class="fas fa-quote-right"></i>
			       </div> 	 
			    </div>
			    <div class="col-md-4 col-sm-12 col-xs-12 center-col">
			         <div class="row">
				       	  <div class="col-md-4 col-sm-5 col-xs-3 ht200"></div>
				       	  <div class="col-md-4 col-sm-2 col-xs-6 circle2 ht200"></div>
				       	  <div class="col-md-4 col-sm-5 col-xs-3 ht200"></div>
			       </div>
			       <div class="row">
			       	 <h1 class="reviewHead">Vinod</h1>
			       </div>
			       <div class="row">
			       	 <p class="reviewBody">
			       	    I loved the fast and instant way of booking an appointment for me and being referred to their clinic which is just 2 minutes of walking distance from my home. Their treatment is best in class and pricing is also minimal. Keep it up!!
			       	 </p>
			       </div> 
			       <div class="row iconz">
			       	 <i class="fas fa-quote-right"></i>
			       </div> 	
			    </div>
			    <div class="col-md-4 col-sm-12 col-xs-12 center-col">
			         <div class="row">
				       	  <div class="col-md-4 col-sm-5 col-xs-3 ht200"></div>
				       	  <div class="col-md-4 col-sm-2 col-xs-6 circle3 ht200"></div>
				       	  <div class="col-md-4 col-sm-5 col-xs-3 ht200"></div>
			         </div>
			         <div class="row">
			       	   <h1 class="reviewHead">Sarad</h1>
			         </div>
			         <div class="row">
			       	    <p class="reviewBody">
			       	     Clinby has this hassle-free option of choosing their nearest physiotherapy centre for me. Their clinics are well maintained and well equipped. The treatment by their doctor is also really effective. 
			       	    </p>
			         </div>
			         <div class="row iconz">
			       	 <i class="fas fa-quote-right"></i>
			       </div> 	  	
			    </div>
            </div>     
  </section>


  <section class="ht55"></section>

  <section>
  	 <div class="row">
  	 	<div class="col-sm-6 col-xs-6 text-center ht400 rt">
  	 		<img src="../assets/images/mob.jpeg" class="rtt">
  	 	</div>
  	 	<div class="col-sm-6 col-xs-6 text-center ht400 lf">
  	 		<div class="row ht100"></div>
  	 		<div class="row ht200">
  	 			<h1 class="cl">Clinby Mobile</h1>
  	 			<p class="dl">coming soon</p>
  	 			<div class="btn btn-info">more details</div>
  	 		</div>
  	 		<div class="row ht100">
  	 			<!--<div class="col-sm-6 col-xs-6">
  	 				<img src="gp.png" class="gp">
  	 			</div>
  	 			<div class="col-sm-6 col-xs-6 ios">
  	 				<img src="ap.png" class="ios">
  	 			</div>-->
  	 		</div>
  	 	</div>
  	 </div>
  </section>

 <section class="ht55"></section>
  <section>
  	    <div class="row">
  	    	<h1 class="col-sm-12 col-xs-12 text-center think">Meet The Team</h1>
  	    </div>
   	   	    <div class="row">
			    <div class="col-md-6 col-sm-12 col-xs-12 center-col">
			       <div class="row">
				       	  <div class="col-md-4 col-sm-5 col-xs-3 ht200"></div>
				       	  <div class="col-md-4 col-sm-2 col-xs-6 circle4 ht200"></div>
				       	  <div class="col-md-4 col-sm-5 col-xs-3 ht200"></div>
			       </div>
			       <div class="row">
			       	 <h1 class="teamHead">Abhishek Kaul</h1>
			       </div>
			       <div class="row iconz">
			       	 <i class="fab fa-linkedin-in"></i>
			        </div> 
			       <div class="row">
			       	 <p class="teamBody">
			       	   CEO,Founder,Product Manager
			       	 </p>
			       </div>
			    </div>
			    
          <div class="col-md-6 col-sm-12 col-xs-12 center-col">
             <div class="row">
                  <div class="col-md-4 col-sm-5 col-xs-3 ht200"></div>
                  <div class="col-md-4 col-sm-2 col-xs-6 circle5 ht200"></div>
                  <div class="col-md-4 col-sm-5 col-xs-3 ht200"></div>
             </div>
             <div class="row">
               <h1 class="teamHead">Nitin Bhat</h1>
             </div>
             <div class="row iconz">
               <i class="fab fa-linkedin-in"></i>
              </div> 
             <div class="row">
               <p class="teamBody">
                 Software Engineer,Product Designer
               </p>
             </div>
          </div>
            </div>     
  </section>

  <section class="ht450 foot">
  	 <div class="row ht150">
  	 	<div class="col-md-3 col-sm-12 col-xs-12 ht20 footlf">Clinby</div>
  	 	<div class="col-md-6 col-sm-12 col-xs-12 ht160 footer">
  	 		<div class="row ht160">
  	 			<div class="col-md-6 col-sm-6 col-xs-6 ht160">
  	 				<ul class="high">
  	 					<li class="lih"><strong>My Account</strong></li>
  	 					<li>Dashboard</li>
  	 					<li>My appointments</li>
  	 				</ul>
  	 			</div>
  	 			<div class="col-md-6 col-sm-6 col-xs-6 ht160">
  	 				<ul class="high">
  	 					<li class="lih"><strong>Help</strong></li>
  	 					<li>Privacy Policy</li>
  	 					<li>FAQs</li>
  	 				</ul>
  	 			</div>
  	 		</div>
  	 	</div>
  	 	<div class="col-md-3 col-sm-12 col-xs-12 ht0"></div>
  	 </div>
  </section>
  
  <!--jQuery-->
  <script type="text/javascript" src="../assets/lib/jquery.min.js"></script>
  <!--bootstrap js -->      
  <script type="text/javascript" src="../assets/lib/bootstrap.min.js"></script>
       
</body>
</html>