<!DOCTYPE html>
<html>
<head>
	<title>clinby</title>
</head>
<body>
   <form action="/register" method="POST">
      <input type="username" name="username"/>
      <input type="password" name="password"/>
      <input type="submit"/>
   </form>
</body>
</html>